# API Configuration
BACKEND_URL=http://<TODO>:8080
LMS_API_URL=http://<TODO>:8081
AI_SERVICE_URL=http://<TODO>:8000

NEXTAUTH_URL=http://localhost:3000

# Auth secret
AI_SERVICE_SECRET=Use-your-own-secret-in-local-or-contact-admin
NEXTAUTH_SECRET=Use-your-own-secret-in-local-or-contact-admin

# Form Configuration
GOOGLE_SCRIPT_URL=<TODO>

# YouTube API
YOUTUBE_CLIENT_ID=<TODO>
YOUTUBE_CLIENT_SECRET=<TODO>
YOUTUBE_REDIRECT_URI=<TODO>
NEXT_PUBLIC_YOUTUBE_UPLOAD_ENABLED=true

# Google Oauth2.0
NEXT_PUBLIC_GOOGLE_CLIENT_ID=<TODO>